*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333439;
    font-family: 'Barlow', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: radial-gradient(circle, #333439, #5d4d5d, #93656d, #be866c, #c9b470);
}

a {
    color: inherit;
}

img, .video, .iframe {
    max-width: 100%;
    height: auto;
}

.header, .main, .footer {
    max-width: 700px;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 1rem;

    }

.header__logo {
    width: 100px;
    height: 100px;
}

.header__titulo {
    text-transform: uppercase ;
    text-align: center;
}

.header__descripcion {
    text-align: center;
}

.main {
    text-align: center;
    max-width: 500px;
}
 
.section1 {
 padding: 1rem;
}

.section1__lista {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.section1__enlace {
   background-color:#be866c ;
   color: #333439;
   padding: 0.5rem;
   text-decoration: none;
   display: block;
   border-radius: 0.5rem;
}
.section2 {
    padding: 1rem;
    color: #be866c;
}

.section2__mapa, .section2__maps{
    padding: 0.5rem;   

}

.section3 {
    padding: 1.5rem;
}

.section3__lista {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.section4 {
    padding: 2rem;
}

.footer {
    text-align: center;
    padding: 2rem
}

.footer__cta {
    color: #333439;
}
 .logofooter {
    padding: 0.3rem
 }



